
---
title: 인코딩 설정
description:모든 인코딩 설정에 대한 자세한 설명입니다.
parent: Home
---

<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <p><a href="/encoding-settings/quick-reference.html">빠른 참조</a></p>
	<h2>이 섹션의 주제</h2>
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
  </section>
</article>