
---
title: 오류/문제 해결
description:무언가가 옳지 않을 때 도와주세요.
parent: Home
---
<style>
{ justify-content: start; } .bcls-카드.bcls-카드{ font-size: 1rem; } h1.bcls-카드 ul { margin-left: -2rem; }
</style>

<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <h2 id="Topics_in_this_section">이 섹션의 주제</h2>
        <ul>
          {% for item in site.data.navigation %} {% if item.name == page.title %} {% for entry in item.docs %}
                <li><a href="{{ entry.url }}">{{ entry.name }}</a> {% if entry.docs %}
                  <ul>
                    {% for subentry in entry.docs %}
                      <li><a href="{{ subentry.url }}">{{ subentry.name }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
                </li>
              {% endfor %} {% endif %} {% endfor %}
        </ul>
      </div>
    </section>
  </section>
</article>