
---
title: 통합
description:Zencoder를 CMS 또는 다른 앱과 통합하는 데 도움이 되는 안내서입니다.
parent: Home
---

<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
	<section>
		<h2 id="Topics_in_this_section">이 섹션의 주제</h2>
		<ul style="margin-left: -2.3rem;list-style: none;">
		{% for item in site.data.navigation %} {% if item.name == page.title %} {% for entry in item.docs %}
						<li><a href="{{ entry.url }}">{{ entry.name }}</a> {% if entry.docs %}
							<ul>
								{% for subentry in entry.docs %}
									<li><a href="{{ subentry.url }}">{{ subentry.name }}</a></li>
								{% endfor %}
							</ul>
						{% endif %}
						</li>
					{% endfor %} {% endif %} {% endfor %}

</section>
</article>